/* Cleaned */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css');

/* fonts */
.karla {
    font-family: 'Karla', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.site-content {
    min-height: 100%;
}

.info-panel {
    border: lightgray solid 1px;
}

.select {
    max-width: 90%;
}

.empty-padding {
    padding: 2rem
}

.subtitle {
    opacity: 0.8;
}

table.sheet {
    border-collapse: collapse; /* no space between cells */
    text-align: center;
}

.table {
    width: 100%;
}

td {
    position: relative; /* coordinate system */
    width: 2rem; /* change these two to adjust cell size!! */
    height: 0.5rem;
}

table td > div { /* css for div within each table cell */
    overflow: hidden; /* prevents overflow from resizing each cell */
    height: 0.5rem;
    text-align: center;
    font-size: 0.5rem;
}

tr.line td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 33%;
    z-index:1;
    cursor: not-allowed;
}
.note:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note {
    vertical-align: top;
    line-height: 0.5rem;
}

.note-border {
    vertical-align: top;
    line-height: 0.5rem;
    border-right: 2px solid black;
}

.note-border:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note-border-top {
    vertical-align: top;
    line-height: 0.5rem;
    position: relative;
}

.note-border-top:after {
    content : "";
    position: absolute;
    right: -1px;
    z-index: 0;
    top: 50%;
    width: 2px;
    height: 50%;
    background: black;
}

.note-border-top:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note-border-bottom {
    vertical-align: top;
    line-height: 0.5rem;
    position: relative;
}

.note-border-bottom:after {
    content : "";
    position: absolute;
    right: -1px;
    z-index: 0;
    top: 0;
    width: 2px;
    height: 60%;
    background: black;
}

.note-border-bottom:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.highlighted {
    /* yellow: background-color: #ffed88;*/
    background-color: rgba(158, 217, 255, 0.5);
}

.fade-in {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sliderDiv {
    margin-bottom: 10px;
}

#tempoSlider {
    -webkit-appearance: none;
}

#tempoSlider:focus {
    outline: none;
}

#tempoSlider::-webkit-slider-runnable-track {
    background: hsl(204, 86%, 53%);
    height: 5px;
}

#tempoSlider::-moz-range-track {
    background: hsl(204, 86%, 53%);
    height: 5px;
}

#tempoSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: hsl(204, 100%, 78%);
    margin-top: -5px;
    border-radius: 50%;
}

#tempoSlider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -5px;
    border-radius: 50%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.relative {
    position: relative;
}

#copy {
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: 0px;
}

#copy:hover {
    opacity: 1;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin: 20px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 0 15px 15px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

/* On hover, add a blue background color, turn actual arrow white */
.prev:hover, .next:hover {
    color: #F4F6F7; /* white */
    background-color: hsl(204, 86%, 53%);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: hsl(204, 86%, 53%);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.gradient {
    background-image:
    linear-gradient(
        to right,
        hsl(204, 86%, 53%), rgb(67, 179, 253)
    );
}

.navbar-gradient {
    background-image:
    linear-gradient(
        to right, rgb(48, 48, 48), rgb(89, 89, 89)
    );
}

.text-spacing > * {
    margin: 1rem 0;
}

.navbar-end {
    height: 100%;
    position: relative;
}

#title {
    font-size: 28px;
    text-align: center;
    outline:none;
    cursor: auto;
}

#startDelete {
    transition: all 1s;
}

button {
    transition: all .2s ease-in-out;
}

button:hover:not([disabled]) {
    transform: scale(1.1);
}

button:active:disabled {
    animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(.5px, .5px) rotate(0deg); }
  10% { transform: translate(-.5px, -1px) rotate(-1deg); }
  20% { transform: translate(-1.5px, 0px) rotate(1deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(.5px, -.5px) rotate(1deg); }
  50% { transform: translate(-.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-1.5px, .5px) rotate(0deg); }
  70% { transform: translate(1.5px, .5px) rotate(-1deg); }
  80% { transform: translate(-.5px, -.5px) rotate(1deg); }
  90% { transform: translate(.5px, 1px) rotate(0deg); }
  100% { transform: translate(.5px, -1px) rotate(-1deg); }
}

.tile-border {
    border: 2px hsl(204, 86%, 53%) solid;
}
