@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* fonts */
.karla {
    font-family: 'Karla', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.site-content {
    min-height: 100%;
}

.info-panel {
    border: lightgray solid 1px;
}

.empty-padding {
    padding: 2rem
}

.subtitle {
    opacity: 0.8;
}

table.sheet {
    border-collapse: collapse; /* no space between cells */
    text-align: center;
}

.table {
     width: 100%;
}

td {
    position: relative; /* coordinate system */
    width: 2rem; /* change these two to adjust cell size!! */
    height: 0.5rem;
}

table td > div { /* css for div within each table cell */
    overflow: hidden; /* prevents overflow from resizing each cell */
    height: 0.5rem;
    text-align: center;
    font-size: 0.5rem;
}

tr.line td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.note:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note {
    vertical-align: top;
    line-height: 0.5rem;
}

.note-border {
    vertical-align: top;
    line-height: 0.5rem;
    border-right: 2px solid black;
}

.note-border:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note-border-top {
    vertical-align: top;
    line-height: 0.5rem;
    position: relative;
}

.note-border-top:after {
    content : "";
    position: absolute;
    right: -1px;
    z-index: 0;
    top: 50%;
    width: 2px;
    height: 50%;
    background: black;
}

.note-border-top:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note-border-bottom {
    vertical-align: top;
    line-height: 0.5rem;
    position: relative;
}

.note-border-bottom:after {
    content : "";
    position: absolute;
    right: -1px;
    z-index: 0;
    top: 0;
    width: 2px;
    height: 60%;
    background: black;
}

.note-border-bottom:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.highlighted {
    background-color: #ffed88;
}

.fade-in {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sliderDiv {
     margin-bottom: 10px;
}

#tempoSlider {
     -webkit-appearance: none;
}

#tempoSlider: focus {
     outline: none;
}

#tempoSlider::-webkit-slider-runnable-track {
 background: hsl(204, 86%, 53%);
 height: 5px;
}

#tempoSlider::-moz-range-track {
 background: hsl(204, 86%, 53%);
 height: 5px;
}

#tempoSlider::-webkit-slider-thumb {
 -webkit-appearance: none;
 height: 15px;
 width: 15px;
 background: hsl(204, 100%, 78%);
 margin-top: -5px;
 border-radius: 50%;
}

#tempoSlider::-moz-range-thumb {
 height: 15px;
 width: 15px;
 background: pink;
 margin-top: -5px;
 border-radius: 50%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.relative {
    position: relative;
}

#copy {
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: 0px;
}

#copy:hover {
    opacity: 1;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: hsl(204, 86%, 53%);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: hsl(204, 86%, 53%);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
