.info-panel {
    border: lightgray solid 1px;
}

.empty-padding {
    padding: 2rem
}

table.sheet {
    border-collapse: collapse; /* no space between cells */
    text-align: center;
}

td {
    position: relative; /* coordinate system */
    width: 3rem; /* change these two to adjust cell size!! */
    height: 0.5rem;
}

table td > div { /* css for div within each table cell */
    overflow: hidden; /* prevents overflow from resizing each cell */
    height: 0.5rem;
    text-align: center;
    font-size: 0.5rem;
}

tr.line td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.note:hover {
    outline: rgb(187, 187, 187) solid 1px
}

.note {
    vertical-align: top;
    line-height: 0.5rem;
}

.fade-in { 
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 